<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="icon" href="/favicon.ico" type="image/x-icon"/>

{% if page.hide_title %}
<link href="/assets/css/hide_title.css" rel="stylesheet" type="text/css">
{% endif %}

{% if page.ref_paper %}
<link href="/assets/css/reference_paper.css" rel="stylesheet" type="text/css">
{% endif %}

{% if page.add_raccoon %}
<link href="/assets/css/add_raccoon.css" rel="stylesheet" type="text/css">
{% endif %}

{% if page.wide_title %}
<link href="/assets/css/wide_title.css" rel="stylesheet" type="text/css">
{% endif %}

{% if page.wide_title %}
<link href="/assets/css/effect_pic_hover.css" rel="stylesheet" type="text/css">
{% endif %}

<link href="/assets/css/social_icon.css" rel="stylesheet" type="text/css">
<link href="/assets/css/custom_archive__item-title.css" rel="stylesheet" type="text/css">

<!-- end custom head snippets -->
