#page-title, h3.archive__subtitle {
    position: relative;
    padding-left: 55px; /* Adjust based on the width of your image */
}

h3.archive__subtitle {
    /*font-size: 1.25em;*/
    padding-bottom: 0.5em;
    padding-top: 0.5em;

}

#page-title::before, h3.archive__subtitle::before {
    content: '';
    display: inline-block;
    background: url('/assets/pics/racoon_logo_transparent.png') no-repeat center center;
    background-size: contain; /* Adjust this based on your image */
    width: 40px; /* Adjust based on the width of your image */
    height: 40px; /* Adjust based on the height of your image */
    position: absolute;
    left: 0;
    top: 50%; /* Vertically center the image */
    transform: translateY(-50%);
}

#page-title::before {
    width: 45px; /* Adjust based on the width of your image */
    height: 45px; /* Adjust based on the height of your image */
}