.reference ul{
	padding-left: 20px;
	padding-right: 20px;
	list-style: none;
    border:1px solid #DDDDDD;
	padding-top: 15px;
	margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 3px;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.75em;
	background: #F5F5F5;
}

.reference li{
	/*padding-left: 15px !important;
	padding-right: 15px !important;*/
	padding-left: 0px !important;
	padding-right: 0px !important;
	margin-bottom: 15px;
	/*font-family: 'Open Sans', sans-serif;
	font-size: 15px;*/
	display: flex;
    align-items: flex-start;
}

.reference li span{
	display:block;
}

.title_paper{
	font-weight: bold;
}

.reference img {
	display: block;
    margin-right: 20px;
    width: 90px;
}