.social-icons .fa-square-x-twitter {
	color: #000000;
}

.social-icons .fa-linkedin {
    color: #1A6BC4;
}

.social-icons .fa-google-scholar {
    color: #4285F4;
}

.social-icons .fa-researchgate {
    color: #37CCBB;
}

.social-icons .fa-orcid {
    color: #A8D041;
}