#widgetqcglobal {
	display: block;
	text-align: center;
	overflow: hidden;
	margin-bottom: 35px;
}

#widgetqcglobal div{
	display: inline-block;
    border: solid 1px #0C3D78;
    border-radius: 10px;
	margin: 5px;
	width: 30%;
	padding: 10px 20px 10px 20px;
	background: #0C3D78;
    color: #FFFFFF;
	font-family: Roboto, "Noto Sans SC", "Noto Sans TC";
	text-align: left;
	vertical-align: top;
}

#widgetqcglobal div:hover {
	background: #FEA803;
	border: solid 1px #FEA803;
}

#widgetqcglobal span{
	display: block;
}

#widgetqcglobal .widget_title{
	font-size: 0.83rem;
}

#widgetqcglobal .widget_value{
	font-weight: bold;
	font-size: 1.5rem;
}