.twitter-timeline {
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

#x_timeline {
		margin-top: 1em;
}

#hr_x_timeline {
		margin-top: 2em;
		margin-bottom: 2em;
}

