---
layout: archive
---

{{ content }}

<!--
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
-->

{% if page.show_x %}
<br>
<br>
<br>
<hr id="hr_x_timeline">
<div id="x_timeline">
<a class="twitter-timeline" data-width="650" data-height="550" data-theme="light" href="https://twitter.com/christophe_tav?ref_src=twsrc%5Etfw">Tweets by christophe_tav</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<link href="/assets/css/x_timeline.css" rel="stylesheet" type="text/css">
</div>
{% endif %}